.Form {
  text-align: center;
}
.PageTitle {
  margin: 20px auto;
}
.Image {
  margin: 20px auto;
  max-width: 100px;
}
.TextField {
  margin: 10px auto;
}

.Button {
  position: relative;
  color: green;
  font-size: 14px;
  padding: 10px 20px;
  border: transparent;
  margin: 40px;
}
.Button:hover {
  color: blue;
}
.Button:disabled {
  cursor: not-allowed;
  pointer-events: none;

  color: #c0c0c0;
  background-color: #ffffff;
}

.CustomError {
  color: red;
  font-size: 0.8rem;
}

.Progress {
  position: absolute;
}
