html,
body {
  font-family: "Zilla Slab", serif;
  background-color: rgb(245, 245, 245);
}
.app-container {
  width: 90%;
  margin: 0 auto;
}
.container {
  margin: 80px auto 0 auto;
  max-width: 1000px;
}

a {
  text-decoration: none;
}
